Demonstration/__pycache__/facebook_post.cpython-36.pyc
Demonstration/__pycache__/facebook_post.cpython-39.pyc
Demonstration/__pycache__/facebook_profile.cpython-39.pyc
Demonstration/__pycache__/pattern_match.cpython-39.pyc
Demonstration/__pycache__/schema_adapter.cpython-36.pyc
Demonstration/__pycache__/schema_adapter.cpython-39.pyc
Demonstration/__pycache__/sem_match_facebook.cpython-39.pyc
Demonstration/__pycache__/semantic_match.cpython-39.pyc
Demonstration/__pycache__/string_match.cpython-39.pyc
Demonstration/__pycache__/string_match_facebook.cpython-39.pyc
Demonstration/__pycache__/tweet.cpython-39.pyc
Demonstration/__pycache__/twitter_profile.cpython-39.pyc
Demonstration/.DS_Store
.DS_Store
